* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav-bar {
  width: 100%;
  height: 100px;
  padding: 0 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-bar .logo {
  width: 50px;
  height: 50px;
}

.nav-bar .nav-bar__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.nav-bar .nav-bar__left .text {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.nav-bar .nav-bar__left .text span {
  font-size: 16px;
  color: #000;
  font-weight: 500;
}

.nav-bar .nav-bar__left .text span:first-child {
  color: #333;
}

.nav-bar .nav-bar__left img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.banner {
  width: 100%;
  height: 200px;
  background-color: #38b000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.banner div h3 {
  font-weight: 500;
  font-size: 48px;
  color: #fff;
}

.banner div p {
  font-size: 16px;
  color: #fff;
}

.content {
  width: 100%;
  height: 200px;
  padding: 0 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  height: 200px;
  width: 100%;
  padding: 0 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-bottom: 1px solid #333;
}

.buttons button {
  width: 200px;
  height: 46px;
  border: 0;
  outline: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.buttons button:hover {
  opacity: 0.8;
}

.buttons button:first-child {
  background-color: blue;
}

.buttons button:last-child {
  background-color: green;
}

.line {
  height: 1px;
  background-color: #ccc;
  margin: 0 180px;
}

footer {
  padding: 0 180px;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 50px;
}
h4  {
  margin-top: 12px;
}

